<a href="https://colab.research.google.com/github/ahalyasanjiv/ChildhoodLeadExposure/blob/regression-tree/TreeRegression_ChildhoodLeadLevels.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

df = pd.read_csv('https://raw.githubusercontent.com/ahalyasanjiv/ChildhoodLeadExposure/master/data/US_Lead_Testing.csv')
df.head()

,State,County,Population,Number of children tested,Percentage of children with levels higher than 5 ug/dl,Percentage of children with levels higher than 10 ug/dl,Percentage of population under the poverty line
0,AL,Autauga County,55136,29,Unknown,0,12.8
1,AL,Baldwin County,191205,357,1.7%,0.6,13.8
2,AL,Barbour County,27119,23,Unknown,4.3,24.1
3,AL,Bibb County,22653,41,Unknown,0,17.0
4,AL,Blount County,57645,250,1.2%,0,17.3

In [0]:
#Split dataset into 80% train, 20% test
train, test = train_test_split(df, test_size=0.2)